/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL: 
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    color: #a4003a;
    text-shadow: none;
    background: #ea4c89;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 40px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
    font-size: 24px;
    text-transform: uppercase;;
}


.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: #1D3238;
}

.navbar-default {
	background-color: #FFF;
	border-color: transparent;
	-moz-box-shadow: 0px 2px 4px 0px rgba(30, 30, 30, 0.2);
	-webkit-box-shadow: 0px 2px 4px 0px rgba(30, 30, 30, 0.2);
	box-shadow: 0px 2px 4px 0px rgba(30, 30, 30, 0.2);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ea4c89;
	background-color: transparent;
	border-bottom: 2px solid #ea4c89;
	padding: 15px 0px 5px 0px;
	margin-right: 20px;
	margin-left: 10px;
}

.navbar-default .navbar-nav > li > a {
	color: #1D3238;
	padding: 15px 0px 5px 0px;
	margin-right: 20px;
	margin-left: 10px;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/back2.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 270px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color:#fff;
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 28px;
	text-transform: inherit;
}

#headerwrap h4 {
	font-weight: 400;
	color: #ffffff
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	font-size: 14px;
}


/* ==========================================================================
   Footer
   ========================================================================== */

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #f7f7f7;
	color: #848789;
	margin-left: 10px;
	font-size: 12px;
}

#footerwrap p {
	color: #848789;
	font-size: 12px;
}

#footerwrap a {
	color: #ea4c89;
	font-size: 12px;
}

#footerwrap a:hover {
	color: #ea4c89;
	font-size: 12px;
	text-decoration: underline;
}

#footerwrap .col-lg-4{
	padding-bottom: 15px;

}

/*#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}*/

i {
	font-size: 21px;
	color: #4a4a4a;
	margin-right: 15px;
}

i:hover {
	color: #ea4c89
}

 
#footerwrap .theme a{
	color: #848789;
	margin-left: 10px;
	font-size: 12px;
}

#footerwrap .theme a:hover{
	color: #ea4c89;
	margin-left: 10px;
	font-size: 12px;
}

/* ==========================================================================
   Works
   ========================================================================== */

#workwrap {	
	background: url(../img/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}

/* ==========================================================================
   Google car
   ========================================================================== */

#google-car {	
	background: url(../img/google-car/google-car-presentation.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#google-car h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#google-car h4 {
	font-weight: 400;
	color: #ffffff;
}



/* ==========================================================================
   Viber
   ========================================================================== */

#viber {	
	background: url(../img/viber/viber-presentation.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#viber h1 {
	color:#1D3238;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#viber h4 {
	font-weight: 400;
	color: #1D3238;
}


/* ==========================================================================
   Music app
   ========================================================================== */

#google-car {	
	background: url(../img/google-car/google-car-presentation.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#google-car h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#google-car h4 {
	font-weight: 400;
	color: #ffffff
}

/* ==========================================================================
   About
   ========================================================================== */

#aboutwrap {	
	background: url(../img/back.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.col-lg-offset-2 p{
	text-align: justify;
}

.col-lg-offset-2 a{
	color: #ea4c89;
}

.col-lg-offset-2 a:hover{
	color: #ea4c89;
	text-decoration: underline;
}



/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}